---
layout: default
title: 文章分类
---

<div class="home">

<h1 class="page-heading">类别列表</h1>
{% for category in site.categories %}
  <li><h2 class="sub-header">{{ category | first }}</h2>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
				{% if post.url %}
				<li><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></li>
				{% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}

</div>
